<div>{{this.showIt}}</div>
<button {{on "click" this.toggle}}>Toggle</button>
<br>

<AnimatedContainer>
  {{#animated-if this.showIt use=this.transition }}
    <div class="message">
      hello {{this.showIt}}
    </div>
  {{/animated-if}}
</AnimatedContainer>
