<div>{{this.counter}}</div>
<button {{on "click" this.increment}}>increment</button>
<br>
{{!-- <button {{action toggleThing}}>Toggle</button> --}}
<AnimatedContainer>
  {{#animated-if this.showIt use=this.transition }}
    <div class="message">
      hello {{this.counter}}
    </div>
  {{/animated-if}}
</AnimatedContainer>

<p>
  This is outside of the container.
</p>